.Landing-Page-Banner-PC {
    background-image: url('../images/mainmenu.png');
    background-repeat: no-repeat;
    background-size:cover;
  }
  
.text-header {
  color: #cb6;
}

.text-subheader {
  color: #feb;
}
